body,
html {
    margin: 0;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #F7F6F4;
  
}

body {
    overflow-y: scroll;
    /* Show vertical scrollbar */

}

* {
    text-align: center;
    user-select: none;
}

h1 {
    text-align: center;
    width:100%;
}

h2 {
    text-align: center;
    margin-bottom:2px;
    
}

p {
    text-align: justify;
    padding: 0px 8px 0px 8px;
    font-weight: 100;
}

svg {
    pointer-events: none;
}

label {
    border: 4px solid transparent;
    padding: 5px;
    text-align: center;
    min-width: 22px;
}

input[type="file"] {
    display: none;
}

a {
    outline: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.labelLong {
    margin: auto;
    color: white;
    font-size: 18px;
}

#main {
    display: flex;
    flex-direction: column;
}

#toolbar {
    margin-top: 9px;
}

#showPattern {
    display: block;
}

#showMixerCtrl {
    display: none;
    padding: 2px;
    flex-wrap: wrap;
    flex-direction: row;
}

#showTrackCtrl {
    display: flex;
}

#showNoteCtrl {
    display: flex;
}

#showLfoCtrl {
    display: flex;
}

#download {
    display: none;
}

#bpmInput {
    padding-bottom: 12px;
}

.line-controls {
    display: flex;
    padding: 2px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    border: solid;
}

.line-controls-d {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
}


.box-v {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-h {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}

.box-h2 {
    flex-wrap: wrap;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}


.sliders-block {
    border-radius: 5px;
    border: 4px solid #444;
    color: #fff;
    background: #555;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    margin: 8px;
}

.sliders-block-d {
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    margin: 8px;
    border: solid white 2px;
}

.sliders-block-e {
    border-radius: 5px;
    flex-wrap: wrap;
    color: #fff;
    display: flex;
    padding-top: 8px;
    margin: 8px;
    border: solid white 2px;
}


#stepProgression {
    height: 12px;
    display: flex;
}

#stepProgressionPad {
    width: 135px;
    height: 12px;
}

#stepProgressionRule {
    height: 12px;
}

#stepProgressionMark {
    left: 0;
    Top: 0;
    width: 24px;
    height: 14px;
    background: #ADD8E6;
    margin-left: 100px;
}

.trackCtrlInternalPanel {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.trackBtn {
    display: flex;
    gap: 2px;
    min-width: 48px;
    width: 48px;
    padding: 5px 7px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #000;
    border: 1px solid #444;
    font-size: 12px;
}

.trackBtn:hover {
    background-color: #202020;

}

.trackBtn:active {
    background-color: #404040;
    box-shadow: 0 5px #666;
    transform: translateX(4px);
}

.trackNbBars {
    border: 1px solid #444;
    width: 24px;
    height: 24px;
    min-width: 24px;
    padding-top: 4px;
    background: #555;
}

.trackLoopPoint {
    border: 1px solid #444;
    width: 24px;
    height: 24px;
    padding-top: 4px;
    min-width: 24px;
    background: #555;
}

.trackMuteBtnOff {
    border: 1px solid #444;
    width: 12px;
    min-width: 12px;
    background: #000;
}

.trackMuteBtnOn {
    border: 1px solid #444;
    width: 12px;
    min-width: 12px;
    background: #066;
}

.trackDispl {
    display: flex;
}

.trackDisplNone {
    display: none;
}

.orbar {
    width: 25%;
    border-left: 4px solid #800;
    display: inline-flex;
}

.notesList {
    width: 100%;
    display: inline-flex;
}

.noteDispl {
    border: 1px solid #444;
    background: #555;
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.noteDisplNote {
    border: 2px solid #444;
    border-radius: 9px;
    flex: 1 1 0px;
    min-height: 21px;
    background-color: #222;
    line-height: 1.3em;
}

.noteDisplLoop {
    border: 2px solid #444;
    width: 4px;
    border-radius: 9px;
    background: #FFF;
    min-height: 20px;
}

.noteDisplSel {
    outline: 4px solid #8080FF;
    outline-offset: -4px
}

.ctrlLabel {
    cursor: pointer;
    width: 100px;
    text-align: left;
}

.ctrlValueLfoOn {
    background-color: #ADD8E6;
    cursor: pointer;
    width: 40px;
    text-align: right;
}

.ctrlValueLfoOff {
    cursor: pointer;
    background-color: #555;
    width: 40px;
    text-align: right;
}

.kit-infos {
    border-radius: 5px;
    border: 4px solid #444;
    color: #000;
    background-color: #BBD1CA;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 8px;
}

.sound-type-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;
    width: 200px;
}

.samples-list {
    border-radius: 5px;
    border: 4px solid #444;
    color: #fff;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 8px;
}

#bpmInput {
    height: 12px;
}

#showTempo {
    display: inline-block;
}


.inputText {
    margin: 20px;
    background: #ADD8E6;
}

.audioFrame {
    padding: 10px 20px;
    margin: 4px;
}

.ordbBtnBig {
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 15px;
    margin: 5px;
}

.ordbBtnBig:hover {
    background-color: #202020;
    display: flex;
}

.ordbBtnBig:active {
    background-color: #404040;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons-list {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    flex: 1 1 0px;
    padding: 10px 20px;
    margin: 4px;
    background-color: #ADD8E6;
    color: #000;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.free-button,
.small-button,
.small-button2,
.middle-button {
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    cursor: pointer;
    background-color: #555;
    border: solid 4px #6a6161;
    border-radius: 5px;
    margin: 2px;
    color: white;
    max-height: 20px;
    flex-grow: 1;
}

.small-button:hover,
.middle-button:hover {
    background-color: #A09285;
}

.small-button:active,
.middle-button:active {
    background-color: #404040;
}

.selected-button {
    background-color: #ADD8E6;
}

.small-button2 {
    background-color: black;
}


.middle-button {
    width: 140px;
}

.free-button {
    min-width: 270px;
}


.loading-box {
    display: flex;
    align-items: center;
}

#resourcesProgress {
    display: none;
}

#modal-title {
    display: flex;
}

#modal-title-text {
    flex-grow: 1;
    font-size: 26px;
    color: #555;
}

#modal-message {
    color: white;
    display: flex;
    justify-content: center;
    border-top: 5px solid #555;
    padding: 20px;
}

#modal-close {
    color: #555;
    float: right;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.9;
}

#modal-close:hover,
#modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    background: #BBD1CA;
    border: 4px solid #555;
    border-radius: 13px;
}

#visu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#warn-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.btn-line{
    display:flex;
}



.vuMetterDisp {
    background: #000;
    min-width: 10px;

}

.inputValue {
    display: inline-block;
    min-width: 34px;
    text-align: right;
}

.inputValueLbl {
    width: 100px;
    text-align: left;
    display: inline-block;
}

.inputValueForListLbl {
    width: 40px;
    text-align: center;
    display: inline-block;
    background: #000;
}

.inputValueForListLblBig {
    width: 80px;
    text-align: center;
    display: inline-block;
    background: #000;
}

.input-box-list {
    display: inline-flex;
}

.inputBox:hover {
    color: #0F0
}

input[type="range"] {
    background-size: 100% 5px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    margin-top: 0em;
    vertical-align: middle;
}



.twostates {
    background: #555;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    flex-wrap: nowrap;
    display: flex;
}

.tooltiptext {
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    margin-top: 16px;
    border: solid;
    position: absolute;
    z-index: 1;
}

#mixerCtrl {
    position: absolute;
    display: flex;
    padding: 6px;
    flex-direction: column;
    justify-content: space-around;
}

.mftext {
    flex-direction: column;
    display:flex;
    text-transform: none;
    padding: 1.5em;
    margin-top: 40px;
    color: black;
}

.mftextp {
    font-size: 1.3rem;
}

.mftextpi {
    font-size: 1.3rem;
    text-align: center;
}


.full-line {
    align-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    border-radius: 6px;
}

.full-col {
    align-content: center;
    flex-wrap: wrap;
    margin: 12px;
    border-radius: 6px;
}

.col-2 {
    text-align: left;
     flex: 1;
    margin: 4px;
    position: relative;
    padding: 8px;
    background: white;
}

.footer-block {
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    #cleanPattern {
        display: none;
    }
}

@media (max-width: 480px) {
    img {
        width: 100%;
    }
}

@media screen and (orientation:portrait) {}